# Testing Results

## Login & DNS resolution

![Loging and DNS](assets/DNS%20proof.png)

## DHCP Assignment

![DHCP](assets/ws-dhcp.png)

## Policy Application

## Firewall Enforcement
