# Testing Results and Evidence

## Login & DNS resolution

![Loging and DNS](assets/DNS%20proof.png)

## DHCP Assignment

![DHCP](assets/ws-dhcp.png)

## Policy Application

![Policy Application](assets/Policy%20Application.png)

## Firewall Enforcement

Firewall configuration screenshots can be found in [Firewall Documentation](./Firewall-Rules.md)
